Cmnd_Alias {{ sap_hana_ha_pacemaker_hana_hsr_primary_site_name | upper }}_SOK   = /usr/sbin/crm_attribute -n hana_{{ sap_hana_ha_pacemaker_hana_install_sid | lower }}_site_srHook_{{ sap_hana_ha_pacemaker_hana_hsr_primary_site_name | upper }} -v SOK -t crm_config -s SAPHanaSR
Cmnd_Alias {{ sap_hana_ha_pacemaker_hana_hsr_primary_site_name | upper }}_SFAIL = /usr/sbin/crm_attribute -n hana_{{ sap_hana_ha_pacemaker_hana_install_sid | lower }}_site_srHook_{{ sap_hana_ha_pacemaker_hana_hsr_primary_site_name | upper }} -v SFAIL -t crm_config -s SAPHanaSR
Cmnd_Alias {{ sap_hana_ha_pacemaker_hana_hsr_secondary_site_name | upper }}_SOK   = /usr/sbin/crm_attribute -n hana_{{ sap_hana_ha_pacemaker_hana_install_sid | lower }}_site_srHook_{{ sap_hana_ha_pacemaker_hana_hsr_secondary_site_name | upper }} -v SOK -t crm_config -s SAPHanaSR
Cmnd_Alias {{ sap_hana_ha_pacemaker_hana_hsr_secondary_site_name | upper }}_SFAIL = /usr/sbin/crm_attribute -n hana_{{ sap_hana_ha_pacemaker_hana_install_sid | lower }}_site_srHook_{{ sap_hana_ha_pacemaker_hana_hsr_secondary_site_name | upper }} -v SFAIL -t crm_config -s SAPHanaSR
{{ sap_hana_ha_pacemaker_hana_install_sid | lower }}adm ALL=(ALL) NOPASSWD: {{ sap_hana_ha_pacemaker_hana_hsr_primary_site_name | upper }}_SOK, {{ sap_hana_ha_pacemaker_hana_hsr_primary_site_name | upper }}_SFAIL, {{ sap_hana_ha_pacemaker_hana_hsr_secondary_site_name | upper }}_SOK, {{ sap_hana_ha_pacemaker_hana_hsr_secondary_site_name | upper }}_SFAIL
Defaults!{{ sap_hana_ha_pacemaker_hana_hsr_primary_site_name | upper }}_SOK, {{ sap_hana_ha_pacemaker_hana_hsr_primary_site_name | upper }}_SFAIL, {{ sap_hana_ha_pacemaker_hana_hsr_secondary_site_name | upper }}_SOK, {{ sap_hana_ha_pacemaker_hana_hsr_secondary_site_name | upper }}_SFAIL !requiretty
